<div class="row">
  <div class="col-md-12" style="text-align:center;">
    <div class="lifted">
      
      <div class="row">
        <div class="col-md-12">
          <%= link_to image_tag("g10.png", style: "max-width:900px", WIDTH: "100%", class: "img-thumbnail"), '#' %>
        </div>
      </div>
      
      <div class="row">
        <h1 style="text-align:left;color:#2684c7;padding:0;margin:0 15px 0 15px;">Новости</h1>
        <HR NOSHADE style="margin: 7px 15px 15px 15px;">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="thumbnail">
            <div class="caption">
              <div class="dtdt">21 апреля 2014</div>              
            </div>
            <%= link_to image_tag("news1.png", class: "img-thumbnail"), '#' %>
            <div class="caption">
              <h3><%= link_to "В лето с модными очками", '#' %></h3>
              <p class="stylep" style="text-indent:0;font-size:0.95em;">Только до 30 июня 2014 года в салонах оптик «Три-З» г. Краснодара модные коллекции солнцезащитных очков от ведущих мировых брендов Gucci, Prada, Rаy-Ban, LACOSTE со скидкой 50%.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="thumbnail">
            <div class="caption">
              <div class="dtdt">11 апреля 2014</div>
            </div>
            <%= link_to image_tag("news2.png", class: "img-thumbnail"), '#' %>
            <div class="caption">
              <h3><%= link_to "В Краснодаре прошла «Вторая школа эксимерлазерной коррекции зрения»", '#' %></h3>
              <p class="stylep" style="text-indent:0;font-size:0.95em;">Доступно и понятно об уникальных методиках лазерной коррекции, которые есть сегодня в современной офтальмологии, рассказали краснодарцам ведущие хирурги «Три-З».</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="thumbnail">
            <div class="caption">
              <div class="dtdt">17 марта 2014</div>             
            </div>
            <%= link_to image_tag("news3.png", class: "img-thumbnail"), '#' %>
            <div class="caption">
              <h3><%= link_to "Хирургия катаракты за 10 000 рублей!", '#' %></h3>
              <p class="stylep" style="text-indent:0;font-size:0.95em;">Уважаемые пациенты, в честь Великого Праздника – Дня Победы, клиника «Три-З» предлагает специальную цену на хирургию катаракты с имплантацией хрусталика высокого качества Hanita SeeLens (Израиль), всего 10 000 рублей.</p>
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-12">
          <p class=""><a role="button" href="#" class="btn btn-primary">Все новости и события</a></p>
        </div>
      </div>

    </div>  <!-- lifted -->

  </div> <!-- col-md-12 -->

</div>



<!-- 2-column layout -->
<div class="row">
  <div class="col-md-9 col-sm-9">

    <!-- jumbotron -->
    <div class="lifted">
      
      <h1>Офтальмологическая клиника «Три-З» <span style="color:#3483a5;">Краснодар</span> - коррекция зрения</h1>
      <%= image_tag "hospital_256.png", style: "max-width: 150px", class: "leftimg" %><p class="stylep">Если Вы оказались на этой странице, значит у Вас или у ваших близких наверняка есть проблемы со зрением. Мы создали этот сайт для того, чтобы Вы узнали, как избавиться от этого недуга.</p>
      
      <p class="stylep">В разделе <%= link_to "«Болезни»", '#' %> вы найдете подробную информацию о заболеваниях глаз. Самое главное, на этом сайте мы расскажем, <%= link_to "как вылечить", '#' %> эти болезни в нашей клинике.</p>
      
      <p class="stylep">Врачи нашей клиники «Три-З» в лечении используют только новейшие и щадящие методики. И все это в комплексе с уникальным оборудованием последнего поколения, аналогов которого нет в нашем крае.</p>
      
      <div class="note blue rounded">
        <p class="stylep">Клиника «Три-З» единственная в Краснодаре и Краснодарском крае частная офтальмологическая клиника, использующая технологию "хирургия одного дня" (Day surgery). Это позволяет нашим пациентам через несколько часов после операции возвращаться домой. Все это - составляющие качественной и заслуживающей Вашего доверия офтальмологической клиники.</p>
      </div>
      
      <p style="text-align:center;margin-top:10px;"><a role="button" href="#" class="btn btn-primary">Узнать больше о клинике</a></p>

    </div>

  </div><!--/span-->

  <!-- column 3 (sidebar) -->
  <div class="col-md-3 col-sm-3" id="sidebar">
    
    <div class="" id="secondary" style="padding:5px 5px 5px 5px;">
      <aside class="widget">
        <p class="mainheaderh1"><%= image_tag "operating_room_256.png", style: "max-width:80px" %></p>
        <p class="mainheaderh1">Операции - 61595</p>
        <p class="mainheaderh1">FEMTO Super Lasik - 7230</p>
        
        <HR NOSHADE WIDTH="80%" style="margin-bottom: 7px;margin-top: 7px;">
        
        <p class="mainheaderh1"><%= link_to image_tag("diagnostic_256.png", style: "max-width:80px"), '#' %></p>
        <p class="mainheaderh1">Задайте вопрос специалисту</p>
        <p class="mainheaderh1"><a role="button" href="#" class="btn btn-primary">Задать вопрос</a></p>
        
        <HR NOSHADE WIDTH="80%" style="margin-bottom: 7px;margin-top: 7px;">
        
        <p class="mainheaderh1"><%= link_to image_tag("lobby_256.png", style: "max-width:80px"), '#' %></p>
        <p class="mainheaderh1">Записаться на приём со скидкой 5%</p>
        <p class="mainheaderh1"><a role="button" href="#" class="btn btn-primary">Записаться</a></p>
      </aside>
    </div>

  </div><!-- /column 3 (sidebar) -->

</div><!--/row-->




<div class="row">
  <div class="col-md-12">

    <div class="raised">
      <h3>Интернет ресурсы медицинского объединения «Три-З» Краснодар</h3>
      <h3 style="text-align:center;"><%= link_to image_tag("city-clinic 0.png", style: "max-width:200px, margin-right:10px"), 'http://poly-clinic.ru/' %>&nbsp&nbsp&nbsp&nbsp<%= link_to image_tag("oxy 0.png", style: "max-width:200px"), 'http://oxy-center.ru/' %>&nbsp&nbsp&nbsp&nbsp<%= link_to image_tag("city-lab 0.png", style: "max-width:200px"), 'http://city-lab.info/' %>&nbsp&nbsp&nbsp&nbsp<%= link_to image_tag("baby-lab 0.png", style: "max-width:200px"), 'http://baby-lab.info/' %></h3>      
    </div>

  </div>
</div>