<div class="row row-offcanvas row-offcanvas-right">
  <div class="col-md-12" style="text-align:center;">
    <div class="lifted">
      <%= image_tag "g10.png", style: "padding-bottom:10px" %>
    </div>  
  </div>

</div>

<!-- 2-column layout -->
<div class="row row-offcanvas row-offcanvas-right">
  <div class="col-md-9">

    <!-- jumbotron -->
    <div class="lifted">
      
      <h1>Офтальмологическая клиника «Три-З» <span style="color:#3483a5;">Краснодар</span> - коррекция зрения</h1>
      <%= image_tag "hospital_256.png", style: "max-width: 150px", class: "leftimg" %><p class="stylep">Если Вы оказались на этой странице, значит у Вас или у ваших близких наверняка есть проблемы со зрением. Мы создали этот сайт для того, чтобы Вы узнали, как избавиться от этого недуга.</p>
      
      <p class="stylep">В разделе <%= link_to "«Болезни»", '#' %> вы найдете подробную информацию о заболеваниях глаз. Самое главное, на этом сайте мы расскажем, <%= link_to "как вылечить", '#' %> эти болезни в нашей клинике.</p>
      
      <p class="stylep">Врачи нашей клиники «Три-З» в лечении используют только новейшие и щадящие методики. И все это в комплексе с уникальным оборудованием последнего поколения, аналогов которого нет в нашем крае.</p>
      
      <div class="note blue rounded">
        <p class="stylep">Клиника «Три-З» единственная в Краснодаре и Краснодарском крае частная офтальмологическая клиника, использующая технологию "хирургия одного дня" (Day surgery). Это позволяет нашим пациентам через несколько часов после операции возвращаться домой. Все это - составляющие качественной и заслуживающей Вашего доверия офтальмологической клиники.</p>
      </div>
      
      <p style="text-align:center;margin-top:10px;"><a role="button" href="#" class="btn btn-primary">Узнать больше о клинике</a></p>

    </div>

  </div><!--/span-->

  <!-- column 3 (sidebar) -->
  <div class="col-md-3" id="sidebar">
    
    <div class="mainheaderh1" id="secondary" style="padding:5px 5px 5px 5px;">
      <aside class="widget">
        <p class="mainheaderh1"><%= image_tag "operating_room_256.png", style: "max-width:80px" %></p>
        <p class="mainheaderh1">Операции - 61595</p>
        <p class="mainheaderh1">FEMTO Super Lasik - 7230</p>
        
        <HR NOSHADE WIDTH="100%" style="margin-bottom: 7px;margin-top: 7px;">
        
        <p class="mainheaderh1"><%= link_to image_tag("diagnostic_256.png", style: "max-width:80px"), '#' %></p>
        <p class="mainheaderh1">Задайте вопрос специалисту</p>
        <p class="mainheaderh1"><a role="button" href="#" class="btn btn-primary">Задать вопрос</a></p>
        
        <HR NOSHADE WIDTH="100%" style="margin-bottom: 7px;margin-top: 7px;">
        
        <p class="mainheaderh1"><%= link_to image_tag("lobby_256.png", style: "max-width:80px"), '#' %></p>
        <p class="mainheaderh1">Записаться на приём со скидкой 5%</p>
        <p class="mainheaderh1"><a role="button" href="#" class="btn btn-primary">Записаться</a></p>
      </aside>
    </div>

  </div><!-- /column 3 (sidebar) -->

</div><!--/row-->