<div class="row">
  
  <div class="col-md-12 col-sm-12 col-xs-12">

      <div class="curved-hz-2">
        <h3 style="text-align:left;">В Краснодаре прошла «Вторая школа эксимерлазерной коррекции зрения»</h3>
      </div>

      <!-- <HR NOSHADE style="margin: 7px 0px 20px 0px;"> -->
      
      <div class="curved-hz-2">
        
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <h4 class="media-heading"><small><i>11 Апреля 2014</i></small></h4>            
            <div class="media">
              
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="media-body">            
                  <h4 class="media-heading" style="line-height:1.4285em;text-align:justify;text-indent:1.5em;"><span style="color:#3483a5;">Почувствовать себя школьником смогли некоторые краснодарцы 9 апреля. Вторая «Школа эксимерлазерной коррекции зрения» собрала учеников с проблемами зрения и необычных учителей – ведущих рефракционных хирургов офтальмологической клиники «Три-З» Бобрышеву И.В., Куликову О.В., Бойко А.А. Доступно и понятно врачи рассказали об уникальных методиках лазерной коррекции – LASIK и Femto LASIK, которые есть сегодня в современной офтальмологии и позволяют навсегда избавиться от близорукости, дальнозоркости и астигматизма.</span></h4>
                  <p class="stylep" style="margin:0;">«Данный проект позволяет объяснить людям в простой форме, которые боятся лазерной коррекции, все нюансы операции с применением современных технологий, ее возможные противопоказания и результат. Ведь большинство людей с плохим зрением хотят избавиться навсегда от очков и контактных линз и сделать коррекцию, но не решаются из-за отсутствия информации и понимания того, как она проходит», - рассказала нам главный врач клиники «Три-З» <b>Карина Дмитриевна Гурджиян</b>.</p>
                  <p class="stylep" style="margin:0;">На Вторую «школу эксимерлазерной коррекции зрения» пришло около 150 человек. Многие, из которых после мероприятия поделились своим мнением:</p>
                  <p class="stylep" style="margin:0;">«Все было очень понятно и интересно. Самое главное, что доступным языком» – <b>Елена, 27 лет</b></p>
                  <p class="stylep" style="margin:0;">«На данном мероприятии получаешь более полную информацию. Что больше всего волнует – можно узнать ответ напрямую у оперирующего врача» – <b>Ирина, 33 года</b></p>
                  <p class="stylep" style="margin:0;">В конце мероприятия всем участникам школы были вручены Сертификаты на диагностику зрения в клинике «Три-З» со скидкой 50%.</p>
                  <h4 class="media-heading" style="line-height:1.4285em;text-align:justify;text-indent:1.5em;"><span style="color:#3483a5;">Следующая школа ориентировочно состоится осенью этого года.</span></h4>
                </div>
              </div>
            </div>
          </div>
        </div>

        <HR NOSHADE style="margin: 20px 0px 20px 0px;">
        <h4 class="media-heading" style="line-height:1.4285em;text-align:center;text-indent:1.5em;"><span style="color:#3483a5;">Фотоотчет</span></h4>
        <div class="alert alert-info"><span class="label label-primary">Это временный комментарий!</span><p>для навигации по фотографиям используйте кнопки под фотографиями или листайте ленту фотографий влево/вправо мышкой/пальцем для мобильных устройств</p></div>

        <div class="row">
          <div id="owl-example" class="owl-carousel owl-theme">        
            <div class="item"><%= link_to image_tag("school_01.png", alt: "HOUSE", width: "99%", class: "img-thumbnail"), '/images/school_01.png', target: "_blank" %></div>
            <div class="item"><%= link_to image_tag("school_02.png", alt: "HOUSE", width: "99%", class: "img-thumbnail"), '/images/school_02.png', target: "_blank" %></div>
            <div class="item"><%= link_to image_tag("school_01.png", alt: "HOUSE", width: "99%", class: "img-thumbnail"), '/images/school_01.png', target: "_blank" %></div>
            <div class="item"><%= link_to image_tag("school_02.png", alt: "HOUSE", width: "99%", class: "img-thumbnail"), '/images/school_02.png', target: "_blank" %></div>
            <div class="item"><%= link_to image_tag("school_01.png", alt: "HOUSE", width: "99%", class: "img-thumbnail"), '/images/school_01.png', target: "_blank" %></div>
            <div class="item"><%= link_to image_tag("school_02.png", alt: "HOUSE", width: "99%", class: "img-thumbnail"), '/images/school_02.png', target: "_blank" %></div>            
          </div>

          <script type="text/javascript">
            $(document).ready(function() {

              $("#owl-example").owlCarousel({
                items : 3,
                navigation: true,
                navigationText: [
                "<i class='glyphicon glyphicon-chevron-left'></i>",
                "<i class='glyphicon glyphicon-chevron-right'></i>"
                ],
                itemsDesktop: [1199,3],
                itemsDesktopSmall: [979,2],
                itemsTablet: [768,2]
              });         

            });
          </script>
        </div>

      </div>      

  </div>

</div>